.left {
    width: 100px;
    margin-left: 50px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.middle {
    width: 80%;
}

.mainBlock {
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 15px;
}

.sport {
    float: left;
    padding-top: 15px;
}

.hidden {
    display: none;
}

.user {
}

.tr span {
    display: none;
}

.tr .th-1, .tr .th-2, .tr .th-3 {
    display: block;
}

table {
    margin: 0 auto;
    margin-top: 50px;
}

th {
    width: 80px;
}

tr .value {
    width: 50px;
}

tr .long, div .long {
    width: 250px;
}

.plus {
    font-weight: 900;
}

.clear {
    clear: both;
}

.th {
    width: 180px;
}

.number-value {
    width: 80px;
}

body {
    overflow-y: scroll;
}

span {
    margin: 0 auto;
}

.right-block {
    margin-top: 50px;
}